
/* Body layout */


.quiz-container {
  margin-top: 200px;
  border: 1px solid navy;
  border-radius: 5px;
  margin-bottom: 40px;

}

/* nav */
.quizHeader{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #007bff;
  margin: 30px;
  border-radius: 10px;
}


.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

#timer {
  font-weight: bold;
  font-size: 18px;
}

.logout-btn {
  background: #ff4444;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}

/* Center box for category selection */
.quizCenter-box {
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin: 30px;
}

/* Buttons */
.primary-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background: #28a745;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.primary-btn:hover {
  background: #218838;
}

/* Quiz Box */
.quiz-box {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

/* Question */
#questionNumber {
  font-size: 20px;
  margin-bottom: 10px;
}

#questionText {
  font-size: 22px;
  margin-bottom: 15px;
}

/* Question Image */
.question-img {
  max-width: 100%;
  height: auto;
  display: none;
  margin-bottom: 20px;
  border-radius: 8px;
}

/* Options */
.options-grid {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.option-btn {
  background: #f0f0f0;
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
  font-size: 16px;
}

.option-btn:hover {
  background: #e0e0e0;
}

.option-btn.selected {
  background: #cce5ff;
  border-color: #3399ff;
}

/* Navigation */

.nav-btn {
  padding: 10px 20px;
  font-size: 16px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.nav-btn:hover {
  background: #0056b3;
}
.quizPreviusNextBtn{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

@media only screen and (min-width:200px) and (max-width:575px){
    .quizHeader{

  padding: 10px;
    margin: 18px;

}
}