
    .rulesHeader,.rulesSecondHeader {
        margin: 169px 10px 0px 10px;
        background: #18183c;
        padding: 10px;
        color: white;
        font-weight: 700;
        border-radius: 15px;


      }


      .rulsContactBtn{
        display: flex;
        align-items: center;
        justify-content: center;

        
      }
      .rulesTextBox{

        border: 1px solid lightgray;

        border-bottom:3.5px solid navy;

        border-right:4.5px solid navy;
        border-radius: 6px;
      }
      .rulsContactBtn button{
        border-radius: 10px;
        background: linear-gradient(to right,#0ACEFE,#2699F8);;
      }

@media only screen and (min-width:200px) and (max-width:575px){

      .rulesHeader {
        margin: 169px 10px 0px 10px;
        background: #18183c;
        padding: 10px;
        color: white;
        font-weight: 700;
        border-radius: 15px;

      }
      .rulesSecondHeader{
        margin-top: 30px;
      }

      .rulesArea{

        padding:8px;

      }

      .rulesTextBox{

        border: 1px solid lightgray;

        border-bottom:3.5px solid navy;

        border-right:4.5px solid navy;
        border-radius: 6px;
      }
      .rulsContactBtn button{
        border-radius: 10px;
        background: linear-gradient(to right,#0ACEFE,#2699F8);;
      }
    }
