html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main, .main-content {
  flex: 1;
}

footer {
  border: 1px solid navy;
  background-color: #03034a;
}

.contactBtn button {
  color: white;
  border-radius: 5px;
  margin-bottom: 15px;
}

.contactBtn {
  color: white;
}

@media only screen and (min-width:200px) and (max-width:575px){
    .contactBtn button{
    width: 160px;
    height: 40px;
    margin: 0px;
}
}

